*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

// .QPR-main{
//     position: relative;   
//     height: 100vh;
   
//     .QPR-wraper{
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         text-align: center; 
//         width: 100%;
//         max-width: 1200px;
//         .QPR-heading{
//             font-weight: 500;
//             font-size: 35px;
//             line-height: 40px;
//         } 
//         .QPR-P{
//             font-size: 20px;
//             font-weight: 300;
//             line-height: 40px;
//         }

        
//         .QPR-button{
//             padding: 13px 50px;
//             position: relative;
//             display: inline-block;
//             vertical-align: middle;           
//             transform: perspective(1px) translateZ(0);
//             box-shadow: 0 0 1px rgba(0 ,0 ,0 , 0%);
//             position: relative;           
//             transition-property: color;          
//             transition-duration: 0.3s;
//             border: 0;
//             margin-top: 15px;


//             .QPR-button-link{
//                 color: #000;
//                 text-decoration: none;  
//                 transition: all 0.3S ease-in-out;  
//                 font-size: 18px;            
//             }



//             &::before {
//                 content: "";
//                 position: absolute;
//                 z-index: -1;
//                 top: 0;
//                 left: 0;
//                 right: 0;
//                 bottom: 0;
//                 background: #000;                
//                 transform: scaleX(0);               
//                 transform-origin: 0 50%;                
//                 transition-property: transform;               
//                 transition-duration: 0.3s;               
//                 transition-timing-function: ease-out;
//             }
            
//             &:hover::before{
//                 transform: scaleX(1);
//             }
//             &:hover .QPR-button-link{
//                 color: #fff;
//             }
            
            
//         }
//     }
// }

.QPR-main{
        position: relative;   
        height: 100vh;
        .QPR-wraper{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    text-align: center; 
                    width: 100%;
                    // max-width:1200px;
                    // height: 100VH;
                    
                    .QPR-main-heaiding{
                        font-weight: 500;
                        font-size: 35px;
                        line-height: 40px;
                    }
                    .QPR-main-text{
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 40px;
                    }
                    .QPR-main-button{
                        padding: 13px 40px;
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;           
                        transform: perspective(1px) translateZ(0);
                        box-shadow: 0 0 1px rgba(0 ,0 ,0 , 0%);
                        position: relative;           
                        transition-property: color;          
                        transition-duration: 0.3s;
                        border: 0;
                        margin-top: 15px;
                        &::before {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: #000;                
                            transform: scaleX(0);               
                            transform-origin: 0 50%;                
                            transition-property: transform;               
                            transition-duration: 0.3s;               
                            transition-timing-function: ease-out;
                        }
                        &:hover::before{
                            transform: scaleX(1);                            
                        }
                        &:hover{
                            color: #fff;
                        }
                    }


                    .modal {
                        display: none; /* Hidden by default */
                        position: fixed; /* Stay in place */
                        z-index: 1; /* Sit on top */
                        // padding-top: 100px; /* Location of the box */
                        left: 0;
                        top: 0;
                        width: 100%; /* Full width */
                        // height: 100%; /* Full height */
                        overflow: auto; /* Enable scroll if needed */
                        background-color: rgb(0,0,0); /* Fallback color */
                        background-color: rgba(255,255,255,1); /* Black w/ opacity */
                        
                      }
                      
                      /* Modal Content */
                      .modal-content {
                        background-color: #fefefe;
                        margin: 0 auto;
                        padding: 20px;                        
                        width: 80%;
                        h2{
                            font-size: 32px;
                            font-weight: 400;
                        }
                        form{
                            #text-QPR{
                                border-top: 0px;
                                border-right: 0px;
                                border-bottom: 0.1px solid;
                                border-left: 0px;
                                border-color: black;
                                padding: 10px;
                                margin-bottom: 15px;                              
                                outline:none;
                                font-size: 18px;
                                text-transform: capitalize;
                                &::placeholder{
                                    font-size: 18px;
                                    color: rgba(0,0,0,0.4);
                                    
                                }
                                
                            }

                            .QPR-imput{
                                display: block;
                                margin: 0 auto;
                                width: 400px;
                                
                            }





                            .QPR-button{
                                            // padding: 13px 40px;
                                            height: 40px;
                                            position: relative;
                                            display: inline-block;
                                            vertical-align: middle;           
                                            transform: perspective(1px) translateZ(0);
                                            box-shadow: 0 0 1px rgba(0 ,0 ,0 , 0%);
                                            position: relative;           
                                            transition-property: color;          
                                            transition-duration: 0.3s;
                                            border: 0;
                                            margin-top: 15px;                                
                                
                                            .QPR-button-link{
                                                color: #000;
                                                text-decoration: none;  
                                                transition: all 0.3S ease-in-out;  
                                                font-size: 15px;    
                                                padding: 13px 40px;        
                                            }                              
                                
                                
                                            &::before {
                                                content: "";
                                                position: absolute;
                                                z-index: -1;
                                                top: 0;
                                                left: 0;
                                                right: 0;
                                                bottom: 0;
                                                background: #000;                
                                                transform: scaleX(0);               
                                                transform-origin: 0 50%;                
                                                transition-property: transform;               
                                                transition-duration: 0.3s;               
                                                transition-timing-function: ease-out;
                                            }
                                            
                                            &:hover::before{
                                                transform: scaleX(1);
                                            }
                                            &:hover .QPR-button-link{
                                                color: #fff;
                                            }
                                            
                                            
                                        }                            
                        }
                      }                      
                      /* The Close Button */
                      .close {
                        color: #aaaaaa;
                        float: right;
                        font-size: 68px;
                        font-weight: bold;
                      }

                      .close:hover,
                      .close:focus {
                        color: #000;
                        text-decoration: none;
                        cursor: pointer;
                      }
            }
}  










// secend page html
.QPR-sec-main{
    position: relative;   
    height: 100vh;
    .QPR-sec-wraper{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);               
                width: 100%; 
                .QPR-sec-main-text{
                    font-weight: 500;
                    font-size: 27px;
                    line-height: 40px;
                    text-align: center;
                    span{
                        color: rgb(233, 185, 122);
                    }
                }
                .QRP-redio{
                    border: 1px solid #000;
                    // margin-bottom: 15px;
                    // padding: 15px;
                    
                    margin: 0 auto 15px auto;
                    label{
                        color: #666;
                        font-size: 18px;
                        display: block;
                        width: 100%;
                        cursor: pointer;
                        padding: 15px;
                    }
                }
                form{
                    // margin-top: 30px;
                    max-width: 610px;
                    margin: 30px auto 0 auto;


                    .QPR-sec-button-align{                       
                        text-align: center;
                    }



                    .QPR-sec-button{
                        // padding: 13px 40px;
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;           
                        transform: perspective(1px) translateZ(0);
                        box-shadow: 0 0 1px rgba(0 ,0 ,0 , 0%);                                  
                        transition-property: color;          
                        transition-duration: 0.3s;
                        border: 0;
                        margin-top: 10px; 
                        height: 45px;

            
                        .QPR-sec-button-link{
                            color: #000;
                            text-decoration: none;  
                            transition: all 0.3S ease-in-out;  
                            font-size: 15px;
                            text-align: center; 
                            padding: 12px 30px;
                        }                              
            
            
                        &::before {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: #000;                
                            transform: scaleX(0);               
                            transform-origin: 0 50%;                
                            transition-property: transform;               
                            transition-duration: 0.3s;               
                            transition-timing-function: ease-out;
                        }
                        
                        &:hover::before{
                            transform: scaleX(1);
                        }
                        &:hover .QPR-sec-button-link{
                            color: #fff;
                        }                     
                        
                    }  
                }  
        }
}










// therd part html start
.QPR-therd-main{
    position: relative;   
    height: 100vh;
    .QPR-therd-wraper{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);               
                width: 100%; 
                max-width: 920px;
                .QPR-therd-main-text{
                    font-weight: 500;
                    font-size: 27px;
                    line-height: 40px;
                    text-align: center;                    
                }
                .QPR-main-therd-text{
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 30px;
                    text-align: center;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 28px;
                    li{
                        // padding: 10px;
                        list-style: none;
                        width: 455px;
                        border: 1px solid black;
                        margin-bottom: 10px;
                        a{
                            text-decoration: none;
                            color: #666;
                            display: block;
                            height: 70px;
                            padding-top: 12px;
                            padding-left: 11px;
                            img{
                                width: 48px;
                                float: left;
                            }
                            p{
                                padding: 0 0 0 10px;
                                font-size: 17px;
                                float: left;
                                line-height: 47px;
                            }
                        }
                        &:hover{
                            background: #333;
                        }
                        &:hover a img{
                            filter: invert(100%);
                        }
                        &:hover a{
                            color: rgba(255,255,255,0.8);
                        }
                    }
                }
            }
        }


      
        


        // four part

        .QPR-four-main{
            position: relative;   
            height: 100vh;
            .QPR-four-wraper{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);               
                        width: 100%; 
                        max-width: 610px;
                        .QPR-four-main-text{
                            font-weight: 500;
                            font-size: 27px;
                            // line-height: 40px;
                            text-align: center;    
                            margin-bottom: 15px;                
                        }
                        .QPR-main-four-text{
                            font-size: 20px;
                            font-weight: 300;
                            line-height: 23px;
                            text-align: center;
                        }
                        .QPR-four-button-align{                       
                            text-align: center;
                        }
    
    
    
                        .QPR-four-button{
                            // padding: 13px 40px;
                            height: 40px;
                            position: relative;
                            display: inline-block;
                            vertical-align: middle;           
                            transform: perspective(1px) translateZ(0);
                            box-shadow: 0 0 1px rgba(0 ,0 ,0 , 0%);                                  
                            transition-property: color;          
                            transition-duration: 0.3s;
                            border: 0;
                            margin-top: 17px; 
    
                
                            .QPR-four-button-link{
                                color: #000;
                                text-decoration: none;  
                                transition: all 0.3S ease-in-out;  
                                font-size: 15px;
                                text-align: center; 
                                padding: 13px 40px;           
                            }                              
                
                
                            &::before {
                                content: "";
                                position: absolute;
                                z-index: -1;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                background: #000;                
                                transform: scaleX(0);               
                                transform-origin: 0 50%;                
                                transition-property: transform;               
                                transition-duration: 0.3s;               
                                transition-timing-function: ease-out;
                            }
                            
                            &:hover::before{
                                transform: scaleX(1);
                            }
                            &:hover .QPR-four-button-link{
                                color: #fff;
                            }                     
                            
                        }  

                    }
                }






                // five page
                .QPR-five-main{
                    position: relative;   
                    height: 100vh;
                    .QPR-five-wraper{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);               
                                width: 100%; 
                                .QPR-five-main-text{
                                    font-weight: 500;
                                    font-size: 27px;
                                    line-height: 40px;
                                    text-align: center;
                                    span{
                                        color: rgb(233, 185, 122);
                                    }
                                }
                                .QRP-five-redio{
                                    border: 1px solid #000;
                                    // margin-bottom: 15px;
                                    // padding: 15px;                                    
                                    margin: 0 auto 10px auto;
                                    label{
                                        color: #666;
                                        font-size: 18px;
                                        padding: 15px;
                                        display: block;
                                        a{
                                            text-decoration: none;
                                            color: #666;
                                            width: 96%;
                                            display: inline-block;
                                        }
                                    }
                                    
                                }
                                form{
                                    // margin-top: 30px;
                                    max-width: 610px;
                                    margin: 30px auto 0 auto;
                
                
                                    // .QPR-five-button-align{                       
                                    //     text-align: center;
                                    // }
                
                
                
                                    // .QPR-five-button{
                                    //     padding: 13px 40px;
                                    //     position: relative;
                                    //     display: inline-block;
                                    //     vertical-align: middle;           
                                    //     transform: perspective(1px) translateZ(0);
                                    //     box-shadow: 0 0 1px rgba(0 ,0 ,0 , 0%);                                  
                                    //     transition-property: color;          
                                    //     transition-duration: 0.3s;
                                    //     border: 0;
                                    //     margin-top: 10px; 
                
                            
                                    //     .QPR-five-button-link{
                                    //         color: #000;
                                    //         text-decoration: none;  
                                    //         transition: all 0.3S ease-in-out;  
                                    //         font-size: 15px;
                                    //         text-align: center;            
                                    //     }                              
                            
                            
                                    //     &::before {
                                    //         content: "";
                                    //         position: absolute;
                                    //         z-index: -1;
                                    //         top: 0;
                                    //         left: 0;
                                    //         right: 0;
                                    //         bottom: 0;
                                    //         background: #000;                
                                    //         transform: scaleX(0);               
                                    //         transform-origin: 0 50%;                
                                    //         transition-property: transform;               
                                    //         transition-duration: 0.3s;               
                                    //         transition-timing-function: ease-out;
                                    //     }
                                        
                                    //     &:hover::before{
                                    //         transform: scaleX(1);
                                    //     }
                                    //     &:hover .QPR-five-button-link{
                                    //         color: #fff;
                                    //     }        
                                        
                                    // }  
                                }  
                        }
                }  
                
                










                // six part html start
.QPR-six-main{
    position: relative;   
    height: 100vh;
    .QPR-six-wraper{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);               
                width: 100%; 
                max-width: 920px;
                .QPR-six-main-text{
                    font-weight: 500;
                    font-size: 27px;
                    line-height: 40px;
                    text-align: center;                    
                }
                // .QPR-main-six-text{
                //     font-size: 20px;
                //     font-weight: 300;
                //     line-height: 30px;
                //     text-align: center;
                // }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 28px;
                    li{
                        list-style: none;
                        width: 455px;
                        border: 1px solid black;
                        margin-bottom: 10px;
                        a{
                            text-decoration: none;
                            color: #666;
                            display: block;
                            height: 70px;
                            padding-top: 12px;
                            padding-left: 11px;
                            img{
                                width: 48px;
                                float: left;
                            }
                            p{
                                padding: 0 0 0 10px;
                                font-size: 17px;
                                float: left;
                                line-height: 47px;
                            }
                        }
                        &:hover{
                            background: #333;
                        }
                        &:hover a img{
                            filter: invert(100%);
                        }
                        &:hover a{
                            color: rgba(255,255,255,0.8);
                        }
                    }
                }
            }
        }



        









        // seven page html
.QPR-seven-main{
    position: relative;   
    height: 100vh;
    .QPR-seven-wraper{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);               
                width: 100%; 
                .QPR-seven-main-text{
                    font-weight: 500;
                    font-size: 27px;
                    line-height: 40px;
                    text-align: center;
                }

                    .QPR-main-seven-text{
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 30px;
                    text-align: center;
                    color: #3d3d3d;
                
                }
                .QRP-seven-redio{
                    border: 1px solid #000;
                    // margin-bottom: 15px;
                    // padding: 15px;                    
                    margin: 0 auto 8px auto;
                    label{
                        color: #666;
                        font-size: 18px;
                        display:block;
                        // width: 95%;
                        cursor: pointer;
                        padding: 15px;
                    }
                }
                form{
                    // margin-top: 30px;
                    max-width: 610px;
                    margin: 30px auto 0 auto;


                    .QPR-seven-button-align{                       
                        text-align: center;
                    }



                    .QPR-seven-button{
                        // padding: 13px 40px;
                        height: 40px;
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;           
                        transform: perspective(1px) translateZ(0);
                        box-shadow: 0 0 1px rgba(0 ,0 ,0 , 0%);                                  
                        transition-property: color;          
                        transition-duration: 0.3s;
                        border: 0;
                        margin-top: 10px; 

            
                        .QPR-seven-button-link{
                            color: #000;
                            text-decoration: none;  
                            transition: all 0.3S ease-in-out;  
                            font-size: 15px;
                            text-align: center;  
                            padding: 13px 40px;          
                        }                              
            
            
                        &::before {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: #000;                
                            transform: scaleX(0);               
                            transform-origin: 0 50%;                
                            transition-property: transform;               
                            transition-duration: 0.3s;               
                            transition-timing-function: ease-out;
                        }
                        
                        &:hover::before{
                            transform: scaleX(1);
                        }
                        &:hover .QPR-seven-button-link{
                            color: #fff;
                        }                     
                        
                    }  
                }  
        }
}






// seven page html
.QPR-eight-main{
    position: relative;   
    height: 100vh;
    .QPR-eight-wraper{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);               
                width: 100%; 
                max-width: 610px;
                .QPR-eight-main-text{
                    font-weight: 500;
                    font-size: 27px;
                    line-height: 30px;
                    text-align: center;
                    margin-bottom: 30px;
                }

                    .QPR-main-eight-text{
                    font-size: 20px;
                    font-weight: 300;
                    // line-height: 30px;
                    text-align: center;
                    color: #3d3d3d;                
                }
                .QPR-input-email{
                    max-width: 300px;
                    margin: 30px auto 0 auto;
                    #text-email{
                        outline: 0;
                        border: 0;
                        border-bottom:1px solid rgba(0 ,0 ,0 , 50%) ;
                        width: 100% ;
                        font-size: 22px;
                        padding-left: 7px;
                        
                        &::placeholder{
                            font-size: 22px;
                            color: rgba(0 ,0 ,0 , .4);
                        }
                    }
                }



                .QPR-eight-button-align{                       
                    text-align: center;
                }



                .QPR-eight-button{
                    // padding: 13px 40px;
                    height: 40px;
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;           
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px rgba(0 ,0 ,0 , 0%);                                  
                    transition-property: color;          
                    transition-duration: 0.3s;
                    border: 0;
                    margin-top: 20px; 

        
                    .QPR-eight-button-link{
                        color: #000;
                        text-decoration: none;  
                        transition: all 0.3S ease-in-out;  
                        font-size: 15px;
                        text-align: center; 
                        padding: 13px 40px;           
                    }                              
        
        
                    &::before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: #000;                
                        transform: scaleX(0);               
                        transform-origin: 0 50%;                
                        transition-property: transform;               
                        transition-duration: 0.3s;               
                        transition-timing-function: ease-out;
                    }
                    
                    &:hover::before{
                        transform: scaleX(1);
                    }
                    &:hover .QPR-eight-button-link{
                        color: #fff;
                    }                     
                    
                } 
            }
    }



 .cross{
     position: relative;
     
     a{
         text-decoration: none;
         color: black;
         z-index: 11;
         position: absolute;
         top: 10px;
         right: 10px;
     }
 }   



 .QPR-last-main-container{
     width: 100%;
     max-width: 1160px;
     margin: 0 auto;
     height: 200px;
     .QPR-last-heading{
        margin: 40px 0;
        font-weight: 100;
        color: #303030;
        font-size: 32px;        
     }
     .QPR-last-text{
         font-size: 22px;
         font-weight: 100;
         color: #666;   
         margin: 35px 0;
         span{
            color: black;
            font-weight: 900;
        }
        a{
            color: #666;            
        }
     }


     .QPR-last-button-align{                       
        text-align: left;
    }



    .QPR-last-button{
        // padding: 13px 40px;
        height: 40px;
        position: relative;
        display: inline-block;
        vertical-align: middle;           
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0 ,0 ,0 , 0%);                                  
        transition-property: color;          
        transition-duration: 0.3s;
        border: 0;
        margin-top: 20px; 


        .QPR-last-button-link{
            color: #000;
            text-decoration: none;  
            transition: all 0.3S ease-in-out;  
            font-size: 15px;
            text-align: center;     
            padding: 13px 40px;       
        }                              


        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #000;                
            transform: scaleX(0);               
            transform-origin: 0 50%;                
            transition-property: transform;               
            transition-duration: 0.3s;               
            transition-timing-function: ease-out;
        }
        
        &:hover::before{
            transform: scaleX(1);
        }
        &:hover .QPR-last-button-link{
            color: #fff;
        }                     
        
    } 

    .QPR-bg-yellow{
        background-color: rgba(254,225,116,0.45);
        display: inline-block;
        padding: 3px 5px 3px 40px;
        margin: 12px 0;
        position: relative;
        &::before{
            content: "\263C";
            position: absolute;
            left: 7px;
            top: 2px;
        }
    }
    .QPR-bg-blue{
        background-color: rgba(126, 212, 255, 0.35);
        display: inline-block;
        padding: 3px 5px 3px 33px;
        margin: 12px 0;
        position: relative;
        &::before{
            content: "\263D";
            transform: rotate(34deg);
            position: absolute;
            left: 7px;
            top: -2px;
        }
    }
    

    .QPR-four-product{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin: 50px 0;
        .QPR-first-sec{
            width:275px;
            
            .QPR-title{
                font-size: 23px;
                font-weight: 900;
                padding: 30px 0;
            }
            .QPR-pro-block{
                padding: 10px;              
                border: 1px solid black;
                .QPR-block-img{
                    width: 228px;
                    height: 228px;
                    margin: 20px auto 20px auto;
                    img{
                        width: 100%;
                    }
                }
                .QPR-prod-name{
                    text-align: center;
                    font-size: 20px;
                    margin: 25px 0;
                    font-weight: 100;
                }
                .QPR-prod-price{
                    text-align: center;
                    font-size: 18px;
                    margin: 25px 0;
                    font-weight: 100;
                    span{
                        color: rgb(146, 146, 146);
                        text-decoration: line-through;
                    }
                    
                }
                .QPR-prod-button{                    
                    padding: 15px 0;
                    background-color: #333;
                    cursor: pointer;
                    border: 0;
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 300;
                    width: 100%;
                    position: relative;
                    transition: all 0.25s;
                    &::after{
                        content: "\002B";
                        position: absolute;
                        right: 7px;
                        font-size: 30px;
                        top: 8px;
                    }
                    &:hover{
                        opacity: .8;
                    }
                    
                }
            }
        }
    }



 }


 

.QPR-slider-container{
    width: 100%;
    max-width: 1160px;
    margin: 50px auto;

    .QPR-slider{
        .QPR-pro-block{
            padding: 10px;              
            // border: 1px solid black;
            max-width: 96%;
            .QPR-block-img{
                width: 228px;
                height: 228px;
                margin: 20px auto 20px auto;
                img{
                    width: 100%;
                }
            }
            .QPR-prod-name{
                text-align: center;
                font-size: 20px;
                margin: 25px 0;
                font-weight: 500;
                font-family: 'Lato', sans-serif;
            }
            .QPR-prod-price{
                text-align: center;
                font-size: 18px;
                margin: 25px 0;
                font-weight: 500;
                font-family: 'Lato', sans-serif;
                span{
                    color: rgb(206, 0, 0);
                    text-decoration: line-through;
                }
                
            }
            .QPR-prod-button{                    
                padding: 15px 0;
                background-color: #333;
                cursor: pointer;
                border: 0;
                display: block;
                text-align: center;
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                max-width: 170px;
                font-family: 'Lato', sans-serif;
                margin: 0 auto;
                width: 100%;
                position: relative;
                transition: all 0.25s;
                &::after{
                    content: "\002B";
                    position: absolute;
                    right: 20px;
                    font-size: 30px;
                    top: 6px;
                }
                &:hover{
                    opacity: .8;
                }
                
            }
        }
    }
}


.QPR-containerPRo{
    width: 100%;
    
    margin: 0 auto;
    background: #dee3e6;
    padding: 50px 0;
    .QPR-four-product{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin: 50px auto;
        
        max-width: 1160px;        
        .QPR-first-sec{
            width:265px;
            background: #fff;
            position: relative;
            
            .QPR-title{
                font-size: 23px;
                font-weight: 900;
                padding: 30px 0;
            }
            .QPR-pro-block{
                padding: 0px;          
                .QPR-block-img{                    
                    width: 228px;
                    height: 228px;
                    margin: 20px auto 20px auto;
                    img{
                        width: 100%;
                    }                    
                }
                .QPR-pro-text{
                    background: #eeeaeb;
                    padding: 10px;
                    .QPR-product-vender{
                        font-size: 14px;
                        opacity: 0.5;
                        font-family: 'Lato', sans-serif;
                        font-weight: 700;
                        // text-align: center;
                    }
                    .QPR-prod-name{                        
                        font-size: 19px;                        
                        padding: 5px 0 0 0;
                        font-weight: 500;
                        color: rgb(0, 0, 0);
                        text-decoration: none;
                        // text-align: center;
                        display: block;
                        font-family: 'Lato', sans-serif;
                    }
                    .QPR-prod-price{                        
                        font-size: 15px;
                        margin: 9px 0;
                        font-weight: 500;
                        font-family: 'Lato', sans-serif;
                        text-align: center;
                        clear: both;
                        letter-spacing: 1px;
                        span{
                            color: rgb(206, 0, 0);
                            text-decoration: line-through;
                        }                    
                    }
                    .QPR-prod-button{                    
                        padding: 10px 0 10px 0px;                       
                        cursor: pointer;
                        border: 0;
                        display: block;                        
                        text-decoration: none;
                        color: rgb(255, 255, 255);
                        font-size: 15px;
                        font-weight: 500;
                        width: 100%;
                        position: relative;
                        transition: all 0.25s;
                        background: #000;
                        font-family: 'Lato', sans-serif;
                        &::after{
                            content: "\002B";
                            position: absolute;
                            font-size: 30px;
                            padding-left: 7px;
                            top: 0px;
                        }
                        &:hover{
                            opacity: .8;
                        }                        
                    }
                }              
            }
        }
    }
}




.QPR-pro-detils{
    width: 100%;
    max-width: 1160px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;    
    .QPR-photo-side-sec{
        max-width: 580px;
        // overflow: hidden;
        .img-sell{
            img{
                width: 100%;
            }
        }
        .IMG-NECC{
            width: 100%;
            margin: 0 auto;
        }
         .slick-next:before {
            font-family: 'slick';
            font-size: 61px;
            line-height: 1;
            opacity: .95;
            content: "\203A" !important;
            color: #000;            
    }
    .slick-prev:before{
        font-family: 'slick';
        font-size: 61px;
        line-height: 1;
        opacity: .95;
        content: "\2039" !important;    
        color: #000;            
}


}

.QPR-deatilsside{
    width: 580px;
    padding-top:50px ;
    padding-left: 50px;
    .main-title{
        font-size: 35px;
        font-family: 'Lato', sans-serif;
    }
    .QPR-price{
        font-size: 25px;
        color: #557b97;
        font-weight: 500;
        margin-top: 25px;
        font-family: 'Lato', sans-serif;
        
        span{
            text-decoration: line-through;
            color: #c9d5df;
        }
    }
}
.QPR-button{
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    .addcard{
        width: 190px;   
        text-align: center; 
        border: 1px solid black;
        button{
            text-decoration: none;
            width: 100%;
            display: block;
            color: black;
            padding: 15px 0;
            font-weight: 700;
            font-family: 'Lato', sans-serif;
            border: 0;
            background-color: transparent;
        }
    }
    .buy{
        text-align: center;
        width: 190px;
        background: #000;
        button{
            font-family: 'Lato', sans-serif;
            text-decoration: none;
            color: #fff;
            width: 100%;
            display: block;
            padding: 15px 0;
            font-weight: 700;
            border: 0;
            background-color: transparent;
        }
    }
}
.QPR-normal-text{
    color:#69727b ;
    font-family: 'Lato', sans-serif;
    margin: 30px  0;
}
.hr1{
    margin-top: 50px;
}
.QPR-socil{
    display: flex;
    .socil{
        width: 60px;
        padding: 15px;
        img{
            width: 100%;
        }
    }
}





label{
    color:#69727b ;
    font-family: 'Lato', sans-serif;
    margin: 30px  0;
    font-size: 21px;

}
select{
    padding: 10px 40px;
    option{
        font-size: 18px;
    }
}

}


@media only screen and (max-width: 1162px){
    .QPR-pro-detils .QPR-photo-side-sec {
        max-width: 595px;
        margin: 0 auto;
    }
    .QPR-pro-detils .QPR-deatilsside {
        width: 595px;        
        margin: 0 auto;
    }
}



@media only screen and (max-width: 1100px){
    .QPR-last-main-container .QPR-four-product {        
        justify-content: space-around;        
    }
    .QPR-last-main-container .QPR-last-heading {        
        padding: 0 40px;
    }
    .QPR-last-main-container .QPR-last-text {        
        padding: 0 10px;
    }
}


@media only screen and (max-width: 1060px){
    .QPR-containerPRo .QPR-four-product {    
    justify-content: space-evenly;
}
.QPR-containerPRo .QPR-four-product .QPR-first-sec {    
    margin-top: 20px;
}
}










@media only screen and (max-width: 909px){
    .QPR-therd-main .QPR-therd-wraper ul {
        justify-content: space-around;
    }
    .QPR-six-main .QPR-six-wraper ul {       
        justify-content: space-around;
    }
    .slick-next {
        right: 2px !important;
        // display: none !important;
    }
    .slick-prev {
        left: 2px !important;
        z-index: 4444;
        // display: none !important;
    }
}


@media only screen and (max-width: 768px){
    .QPR-main .QPR-wraper .QPR-main-text {
        font-size: 18px;        
        line-height: 25px;
    }
    .QPR-main .QPR-wraper .QPR-main-heaiding {        
        font-size: 30px;
        line-height: 35px;
    }
    .QPR-seven-main .QPR-seven-wraper .QPR-seven-main-text {        
        font-size: 22px;       
        margin-top: 70px;
    }
    .cross {       
        display: none;
    }
    .QPR-last-main-container .QPR-last-heading {        
        font-size: 27px;
    }
    .QPR-last-main-container .QPR-last-text {
        font-size: 18px;        
        margin: 20px 0;
    }
    .QPR-last-main-container .QPR-last-button {        
        margin-left: 10px;
    }
    // .slick-next {
    //     right: 2px;
    // }
    // .slick-prev {
    //     left: 1px;
    //     z-index: 411;
    // }   
    .QPR-slider-container .QPR-slider .QPR-pro-block {
        // padding: 10px;
        max-width: 100%;
    }
    .QPR-pro-detils .QPR-deatilsside {
        width: 100%;
        margin: 0;
        padding-left: 0;
    }
    .QPR-pro-detils .QPR-photo-side-sec {
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 530px){
    .QPR-main .QPR-wraper .modal-content form .QPR-imput {
        width: 200px;
    }
    .QPR-main .QPR-wraper .modal-content h2 {
        font-size: 26px;        
    }
    .QPR-sec-main .QPR-sec-wraper form {       
        padding: 0 10px;
    }
    .QPR-sec-main .QPR-sec-wraper .QPR-sec-main-text {        
        font-size: 23px;        
    }    
    .QPR-four-main .QPR-four-wraper .QPR-main-four-text {
        font-size: 17px;
    }
    .QPR-five-main .QPR-five-wraper form {        
        padding: 0 10px;
    }
    .QPR-five-main .QPR-five-wraper .QRP-five-redio label a {
        width: 90%;
    }
    .QPR-six-main .QPR-six-wraper ul {        
        padding: 0 10px;
    }
    .QPR-seven-main .QPR-seven-wraper .QPR-main-seven-text {
        font-size: 18px;
    }
    .QPR-seven-main .QPR-seven-wraper .QPR-seven-main-text {        
        line-height: 24px;      
        margin-top: 180px;
    }
    .QPR-seven-main .QPR-seven-wraper form {       
        padding: 0 10px;
    }
    .QPR-eight-main .QPR-eight-wraper .QPR-eight-main-text {       
        font-size: 24px;
    }
    .QPR-eight-main .QPR-eight-wraper .QPR-main-eight-text {
        font-size: 17px;
    }
    .QPR-pro-detils .QPR-deatilsside .main-title {
        font-size: 28px;        
    }
    .QPR-pro-detils .QPR-deatilsside .QPR-price {
        font-size: 20px;        
        margin-top: 13px;
    }
    .QPR-pro-detils .QPR-button {        
        margin-top: 23px;
    }
    .QPR-pro-detils .QPR-normal-text {
        font-size: 14px;        
        margin: 17px 0;
    }
    
}
@media only screen and (max-width: 400px){
.QPR-five-main .QPR-five-wraper .QRP-five-redio label a {
    width: 90%;
    font-size: 15px;
}
.QPR-six-main .QPR-six-wraper .QPR-six-main-text {    
    font-size: 22px;
    line-height: 26px;    
}
.QPR-seven-main .QPR-seven-wraper .QRP-seven-redio label {   
    font-size: 16px;
}
}



